---
name: Terraform

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.1
      - name: Terraform Format Check
        run: terraform fmt -check
        id: fmt
        continue-on-error: false
      - name: Terraform Format
        run: |
          terraform fmt -recursive .
        continue-on-error: false
      - name: Terraform Initialize
        id: init
        run: |
          terraform init
        continue-on-error: false
      - name: Terraform Validate
        id: validate
        run: |
          terraform validate -no-color
        continue-on-error: false
      - name: Inject Terraform Documentation
        uses: terraform-docs/gh-actions@v1
        if: |
          steps.validate.outcome == 'success'
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          git-push: "true"
